.sidenav {
  transition-delay: 0s;  
  transition: transform 0.3s ease-in-out 0s;
  
  transform: translate3d(260px, 0, 0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
  width: 260px;
  padding: 30px 0px;
  display: block;
  height: 100%;
  
  position: fixed;
  bottom: 0;
  z-index: 200;
  top: 0;
  right: 0;
}

.is-open {
  right: 0;
  transform: translate3d(0, 0, 0);
}

.sidenav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidenav ul li {
  list-style-type: none;
}

.sidenav-dropdown {
  padding: 5px 10px;
}

.sidenav .btn-dropdown {
  display: block;
  text-decoration: none;
  color: #888;
  position: relative;
  text-transform: uppercase;
}

.dropdown-panel {
  padding-left: 20px;
  padding-top: 5px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.btn-dropdown::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  right: 1em;
  background: url(cd-arrow.svg) no-repeat center center;
  background-size: 8px 11px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.sidenav-dropdown.open .btn-dropdown::after {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.dropdown-panel {
  padding-left: 15px;
}
.dropdown-panel .dropdown-item {
  /* to do if necessary */
}

.dropdown-panel .dropdown-item a {
  display: block;
  text-decoration: none !important;
  color: #333;
  margin: 10px 0px;
}

.dropdown-panel .dropdown-item a:hover {
  text-decoration: underline !important;
}

.sidenav .sidenav-item{
  padding: 5px 10px;
}
.sidenav .sidenav-item a{
  display: block;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #888;

}